.header 
{
    position: absolute;
    width: 100%;
    
    left: 0px;
    top: 0px;

    text-align: center;
    background-color: lightblue;

}

.title
{
    font-family: 'Zilla Slab', serif;
    font-size: x-large;
}

.subtitle
{
    font-family: Helvetica, sans-serif;
    font-size: large;
}

.home_screen
{
    user-select: none;
    position: relative;

    top: 60px;

    left: 15%;
    width: 70%;
    height: 50%;
    text-align: center;
}

img 
{
    pointer-events: none;
}

.ballot_gif
{
    position: absolute;
    width: 200px;
    margin: auto;
    left: 0;
    right: 0;
}

.home_screen_callout
{
    position: absolute;
    font-family: 'Zilla Slab', serif;
    font-size: 4em;

    width: 100%;
    text-align: center;
}

.moving_text_container
{
    position: absolute;
    width: 100%;
    top: 325px;
    height: 4em;

    overflow: hidden;
}

.moving_text
{
    margin-top: 0px;
    text-align: center;

    font-family: 'Zilla Slab', serif;
    font-size: 4em;

    color: rgb(32, 157, 207);

    margin: 0 auto;
    margin-top: 0px;

    overflow: hidden;
    animation-name: scroll;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

#first_line
{
    top: 200px;
}

#last_line
{
    top: 350px;
}

@keyframes scroll {
    0% {margin-top: -320px;}
    45% {margin-top: 0px;}
    55% {margin-top: 0px;}
    95% {margin-top: -320px;}
    100% {margin-top: -320px;}
}  

.button_box
{
    position: absolute;
    width: 100%;
    top: 500px;
}

a
{
    color: rgb(82, 173, 229);
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    
    box-sizing: border-box;

    background-color: rgb(30, 116, 169);
    border: 2px solid rgb(51, 149, 182);
    border-radius: 5px;

    color: white;

    text-align: center;
    padding: auto;

    line-height: 50px;

    font-family: 'Zilla Slab', serif;

    width: 150px;
    height: 50px;
}

a.button:hover
{
    background-color: rgb(82, 173, 229);
    border: 2px solid rgb(119, 193, 218);
}

.footer
{
    font-family: Helvetica, sans-serif;
    font-size:small;
    background-color: whitesmoke;
    color: black;

    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 30px;

    margin-top: 10px;
}

.footer_text
{
    display: block;
    margin-top: -5px;
    text-align: center;
}

@media (min-width: 0px) and (max-width: 650px) 
{
    .home_screen_callout
    {
        font-size: 3em;
    }

    .moving_text
    {
        font-size: 3em;
    }

    .moving_text_container
    {
        top: 295px;
        height: 3em;
    }
    
    #first_line
    {
        top: 200px;
    }

    #last_line
    {
        top: 320px;
    }

    @keyframes scroll {
        0% {margin-top: -290px;}
        45% {margin-top: 0px;}
        55% {margin-top: 0px;}
        95% {margin-top: -290px;}
        100% {margin-top: -290px;}
    }  
}