body
{
    margin-bottom: 150px;
}

.header 
{
    position: absolute;
    width: 100%;
    
    left: 0px;
    top: 0px;

    text-align: center;
    background-color: whitesmoke;

    border-bottom: solid 1px lightgray;

}

.title
{
    font-family: 'Zilla Slab', serif;
    font-size: x-large;
    color: rgb(32, 157, 207);

    text-decoration: none;

    a:link {color: rgb(32, 157, 207);;}      /* unvisited link */
    a:visited {color: rgb(32, 157, 207);;}   /* visited link */
    a:hover {color: rgb(32, 157, 207);;}     /* mouse over link */
    a:active {color: rgb(32, 157, 207);;}    /* selected link */
}

.subtitle
{
    font-family: Helvetica, sans-serif;
    font-size: large;
}

.home_screen
{
    user-select: none;
    position: relative;

    top: 60px;

    left: 15%;
    width: 70%;
    height: 50%;
    text-align: center;
}

img 
{
    pointer-events: none;
}

.ballot_gif
{
    position: absolute;
    width: 200px;
    margin: auto;
    left: 0;
    right: 0;
}

.home_screen_callout
{
    position: absolute;
    font-family: 'Zilla Slab', serif;
    font-size: 4em;

    width: 100%;
    text-align: center;
}

.moving_text_container
{
    position: absolute;
    width: 100%;
    top: 325px;
    height: 4em;

    overflow: hidden;
}

.moving_text
{
    margin-top: 0px;
    text-align: center;

    font-family: 'Zilla Slab', serif;
    font-size: 4em;

    color: rgb(32, 157, 207);

    margin: 0 auto;
    margin-top: 0px;

    overflow: hidden;
    animation-name: scroll;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

#first_line
{
    top: 200px;
}

#last_line
{
    top: 350px;
}

@keyframes scroll {
    0% {margin-top: -395px;}
    45% {margin-top: 0px;}
    55% {margin-top: 0px;}
    95% {margin-top: -395px;}
    100% {margin-top: -395px;}
}  

.button_box
{
    position: absolute;
    width: 100%;
    top: 500px;

    height: 100px;
}

a
{
    color: rgb(32, 157, 207);
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    
    box-sizing: border-box;

    background-color: rgb(30, 116, 169);
    border: 2px solid rgb(51, 149, 182);
    border-radius: 5px;

    color: white;

    text-align: center;
    display: inline-block;

    line-height: 50px;

    font-family: 'Zilla Slab', serif;

    width: 150px;
    height: 50px;
    transition: all 2s ease-out;

    user-select: none;
}

a.button:hover
{
    background-color: rgb(82, 173, 229);
    border: 2px solid rgb(119, 193, 218);
    transition: all 0.3s ease-out;
}

.footer
{
    font-family: Lato, sans-serif;
    font-size:small;
    background-color: whitesmoke;
    color: black;

    border-top: solid 1px lightgray;

    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 30px;

    margin-top: 10px;

    display: block;
}

.footer_text
{
    display: block;
    margin-top: -5px;
    text-align: center;
}

@media (min-width: 0px) and (max-width: 650px) 
{
    .home_screen_callout
    {
        font-size: 3em;
    }

    .moving_text
    {
        font-size: 3em;
    }

    .moving_text_container
    {
        top: 295px;
        height: 3em;
    }
    
    #first_line
    {
        top: 200px;
    }

    #last_line
    {
        top: 320px;
    }

    @keyframes scroll {
        0% {margin-top: -290px;}
        45% {margin-top: 0px;}
        55% {margin-top: 0px;}
        95% {margin-top: -290px;}
        100% {margin-top: -290px;}
    }  
}

.questionary
{
    position: relative;
    top: 70px; 
    width: 70%;
    margin: auto;

    display: block;
}

.question_box
{
    position: relative;
    font-family: "Lato", sans-serif;
    border: solid 3px lightgray;
    border-radius: 5px;

    background-color: whitesmoke;

    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 25px;
}

.question_text
{
    font-family: 'Zilla Slab', serif;
    font-size: larger;
}

.question_answer
{
    font-family: 'Lato', sans-serif;
    margin-top: -10px;
}

.question_counter
{
    font-family: 'Zilla Slab', serif;
    size: x-small;
    color: rgb(32, 157, 207);
    position: absolute;
    top: -10px;
    left: 15px;
}

.info_icon
{
    position: absolute;
    top: 5px;
    right: 5px;
}


@media (min-width: 700px)
{
    .all_options
    {
        position: relative;
        border: none;
    
        height: 65px;
    }
    
    .single_option
    {
        position: absolute;
        display: inline-block;
        width: 20%;
        height: 100%;
    }
    
    .single_option.first
    {
        left: 0%;
    }
    
    .single_option.second
    {
        left: 20%;
    }
    
    .single_option.third
    {
        left: 40%;
    }
    
    .single_option.fourth
    {
        left: 60%;
    }
    
    .single_option.fifth
    {
        left: 80%;
    }
    
    .checkbox_option
    {
        display: block;
    
        position: relative;
        margin: auto;
        text-align: center;
        accent-color: rgb(32, 157, 207);

        width: 30px;
        height: 30px;
    
        top: -10px;
    }
    
    .checkbox_label
    {
        display: block;
        position: sticky;
        text-align: center;
        margin: auto;
    
        top: 15px;
        left: -10%;
    
        font-family: "Lato", sans-serif;
        font-size: small;
        
        width: 100%;
    }
}

@media (min-width: 0px) and (max-width: 700px) 
{
    .all_options
    {
        margin-top: -15px;
        border: none;
    }

    .single_option
    {
        position: relative;
    }

    .checkbox_option
    {
        width: 20px;
        height: 20px;
    }

    .checkbox_label
    {
        position: absolute;
        top: 3px;
        left: 32.5px;
        font-family: "Lato", sans-serif;
    }
    
    .questionary
    {
        display: block;
        width: 90%;
    }
}


#results
{
    display: none;
}

.winning_text
{
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: auto;
    text-wrap: balance;
    width: 250px;
}


.winning_candidate
{
    font-family: 'Zilla Slab', serif;
    text-align: center;

    color: rgb(32, 157, 207);

    margin-bottom: 0px;
    margin-top: 0px;
}

@media (min-width: 0px) and (max-width: 650px)
{
    .winning_text
    {
        font-size: medium;
    }

    #grand_winning_text
    {
        font-size: large;

    }

    .winning_candidate
    {
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 45px;
        font-size: 3em;
    }
}

@media (min-width: 650.01px)
{
    .winning_candidate
    {
        font-size: 5em;

        margin-top: 15px;
        margin-bottom: 15px;
        line-height: 65px;
    }
}

.results_button
{
    box-sizing: border-box;

    background-color: rgb(30, 116, 169);
    border: 2px solid rgb(51, 149, 182);
    border-radius: 5px;

    color: white;

    text-align: center;
    padding: auto;

    font-family: 'Zilla Slab', serif;
    font-size: medium;

    width: 150px;
    height: 50px;
    transition: all 2s ease-out;

    position: absolute;
    left: 50%;
    margin-left: -75px;

    cursor: pointer;
}

.results_button:hover
{
    background-color: rgb(82, 173, 229);
    border: 2px solid rgb(119, 193, 218);
    transition: all 0.3s ease-out;
}

.results_button.copied_confirmation
{
    background-color: rgb(30, 169, 56);
    border: 2px solid rgb(51, 182, 66);
}


#results_button_box
{
    width: 100%;
    height: 50px;
}

#fake_wait
{
    display: none;
}

#fake_wait_box
{
    height: 200px;
}

.calculating_message
{
    text-align: center;
    font-family: 'Zilla Slab', serif;
    color: rgb(32, 157, 207);
}

.progress_bar_hull
{
    position: relative;
    margin: auto;

    width: 90%;
    height: 30px;


    background-color: lightblue;

    border-radius: 5px;

    content: "";
}

.progress_bar
{
    position: relative;
    margin: auto;

    margin-left: 2.5px;
    margin-right: 2.5px;
    height: 25px;
    width: 2%;
    top: 2.5px;

    border-radius: 4px;
    
    background-color: rgb(32, 157, 207);
    
    content: "";

    transition: all ease-in 0.75s;
}

#desktop_sharing
{
    position: relative; 
    margin: auto;
    left: 0%;
}


@media (min-width: 0px) and (max-width: 650px)
{
    #mobile_sharing
    {
        display: block;
    }

    #desktop_sharing
    {
        display: none;
    }
}

@media (min-width: 650.01px)
{
    #mobile_sharing
    {
        display: none;
    }

    #desktop_sharing
    {
        display: block;
    }
}